<mat-toolbar color="primary" role="heading">
  <button mat-icon-button aria-label="Toggle menu" (click)="sidenav.toggle()" *ngIf="isMobile">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="toolbar-title">MEL Dashboard</span>
  <div *ngIf="user" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
    <mat-icon>person</mat-icon>
    <span>{{ user.preferred_username }}</span>
    <button mat-icon-button aria-label="Sign out" (click)="signOut()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="sidenavMode" [opened]="sidenavOpened" [fixedInViewport]="sidenavFixedInViewport">
    <mat-nav-list>
      <a routerLink="/" mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon>
        <span mat-line>{{ 'APP.LINKS.HOME' | translate }}</span>
      </a>
      <h2 matSubheader>Resources</h2>
      <a mat-list-item *ngFor="let route of resourcesRoutes" [routerLink]="['resources', route.path]">
        <mat-icon mat-list-icon>{{ route.data && route.data.icon }}</mat-icon>
        <span mat-line>{{ route.data && route.data.linkLabel | translate }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <main>
    <router-outlet></router-outlet>
  </main>
</mat-sidenav-container>
